<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Source Code Getter</title>

    <!-- Style Sheets -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <div ng-app="SourceApp" ng-controller="SourceCtrl" class="container">

      <div class="row">
        <div class="col-md-12">
          <h1>Source Coder</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <form class="form-inline" name="urlForm" ng-submit="source()">
            <div class="form-group">
              <input type="url" class="form-control" ng-model="url" ng-click="resetURL()" required="true" placeholder="Enter a URL">
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="urlForm.$invalid">Get Source Code</button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <pre id="html">
            {{html}}
          </pre>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="(tag, count) in tags">
              <span class="badge">{{count}}</span>
              {{tag}}
            </li>
          </ul>
        </div>
      </div>

    </div>

    <!-- JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
