form {
  margin: 15px;
}

pre.html {
  background-color: #058;
}

code.html {
  overflow-x: auto;
  height: 600px !important;
  word-wrap: normal;
  white-space: pre;
  color: #ABC;
}

#tag:focus {
  background-color: #FC0;
  color: black;
}

.tag-highlight {
  color: #FC0;
  text-shadow: 0 0 2px rgba(0,0,0,0.6);
}

.tag-highlight > span:not(.tag-highlight) {
  color: #FC8;
}
