html, body, .full-height {
  height: 100%;
}

.eighty-height {
  height: 80%;
}

form {
  margin: 15px 0;
}

pre.html {
  background-color: #058;
  height: 100%;
  overflow-x: scroll;
}

code.html {
  word-wrap: normal;
  white-space: pre;
  color: #ABC;
}

div.tags-list {
  height: 100%;
  overflow: scroll;
  border: #CCC 1px solid;
  border-radius: 5px;
}

#tag:focus {
  background-color: #FC0;
  color: black;
}

.tag-highlight {
  color: #FC0;
  text-shadow: 0 0 2px rgba(0,0,0,0.6);
}

.tag-highlight > span:not(.tag-highlight) {
  color: #DC9;
}
